.card_wrapper {
  width: 230px;
  height: 380px;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  border-radius: 15px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  }
}

.card_wrapper_big {
  width: 350px;
  height: 520px;
}

.card_wrapper_small {
  width: 230px;
  height: 380px;
}

.card_img_box {
  width: 100%;
  height: 65%;
  overflow: hidden;
  border-radius: 15px;
  .card_image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: 0.3s;
      overflow: hidden;
      border-radius: 15px;
      &:hover {
        transform: scale(1.1);
      }
    }

    .view-card-btn {
      position: absolute;
      z-index: 150;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 7px 20px;
      border: none;
      outline: none;
      font-family: sans-serif;
      font-size: 16px;
      border-radius: 10px;
      color: #fff;
      background-color: #772eb0;
      cursor: pointer;
      display: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.card_image::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.3s;
  opacity: 0;
  border-radius: 15px;
}

.card_wrapper:hover .card_image img {
  transform: scale(1.1);
}

.card_wrapper:hover .card_image::before {
  opacity: 1;
}

.card_wrapper:hover .view-card-btn {
  display: block;
}

.card_data {
  width: 100%;
  min-height: 115px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;

  .name_product {
    font-size: 12px;
  }
}

.card_star_rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.card_input_radio {
  display: none;
}

.star {
  cursor: pointer;
}

.card_buy_btn {
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.2s;

  &:hover {
    background-color: #5c2189 !important;
  }
}

.card_favorite_btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  color: #9c9c9c;
  padding: 10px 10px 7px;
  font-size: 28px;
  background: transparent;
  z-index: 800;
  cursor: pointer;
  border-radius: 0px 3px 0 3px;
}

.card_wrapper:hover .card_favorite_btn {
  color: #f2f2f2;
}

.to_basket_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f4e7ff;
  width: 100%;
  color: #772eb0;
  padding: 5px 24px 7px;
  font-weight: 600;
  border-radius: 12px;
  text-transform: initial;
}

@media screen and (max-width: 1020px) {
  .card_wrapper {
    flex-basis: auto;
    flex: 1 0 180px;
  }

  .card_buy_btn {
    span {
      font-size: 12px !important;
    }
  }
}

@media screen and (max-width: 640px) {
  .card_wrapper {
    flex: 1 0 180px;
  }
}
