$color_1: #0080d3;
$background-color_1: transparent;

:root {
  --mainColor: blueviolet;
}

.products_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
  .filter_container {
    position: sticky;
    top: 90px;
    max-width: 300px;
    min-width: 300px;
    min-height: calc(100vh - 142px);
    margin: 15px 0 15px 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .product_result_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    border-radius: 15px;
    margin-top: 15px;
  }

  .checkbox-wrapper-28 {
    --size: 20px;
    position: relative;
    display: flex;
    align-items: center;

    .promoted-input-checkbox {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    input {
      &:checked {
        ~ {
          svg {
            height: calc(var(--size) * 0.6);
            -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
            animation: draw-checkbox-28 ease-in-out 0.2s forwards;
          }
        }
      }
    }
    label {
      &:active {
        &::after {
          background-color: $background-color_1;
        }
      }
      user-select: none;
      line-height: var(--size);
      cursor: pointer;
      position: relative;
      &:after {
        content: "";
        height: var(--size);
        width: var(--size);
        margin-right: 8px;
        float: left;
        border: 2px solid #0080d3;
        border-radius: 3px;
        transition: 0.15s all ease-out;
      }
    }
    svg {
      stroke: #0080d3;
      stroke-width: 3px;
      height: 0;
      width: calc(var(--size) * 0.6);
      position: absolute;
      left: calc(var(--size) * 0.21);
      top: calc(var(--size) * 0.2);
      stroke-dasharray: 33;
    }
  }
}


.colors_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.project {
  position: relative;
}

.project .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.project .boxes .box {
  position: relative;
}

.project .boxes .box input {
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 30px;
  height: 30px;
  z-index: 0;
  border: 3px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.project .boxes .box input:hover {
  background-color: rgba(214, 213, 213, 0.361);
}

.project .boxes .box input:checked {
  border: 4px solid var(--mainColor);
  background-color: rgba(174, 174, 174, 0.772);
}

.project .boxes .box label {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.project .boxes .box label i {
  font-size: 60px;
  color: var(--mainColor);
}

.project .boxes .box label p {
  font-size: 20px;
  font-weight: 600;
}

@-webkit-keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
