.swiper {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
    max-height: 400px;
    border-radius: 5px; 
  }
  
  .mySwiper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
